.bg-1{
    background-color: lightcoral;
}

.bg-2{
    background-color: green;
}

body,
html {
    background-color: #a4aab1 ;
    color: #001E17;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    min-height: 850px;
}

p {
    padding: 5px 0 !important;
    margin: 0 !important;
}

h1 {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

h2 {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

ul {
    margin: 5px 0 !important;
}

a{
    text-decoration: none !important;
}

header{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 2em rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 200px;
    box-sizing: border-box;
    border-radius: 15px;
}

.icon{
    width: 25px;
    height: 25px;
    padding-bottom: 3px;
    padding-left: 6px;
}

.datos-div{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    align-self: flex-start;
}

.datos-text {
    font-size: 20px;
}

.nombre-div{
    display: flex;
}

.datos-personales{
    display: flex;
}

.portafolio-div{
    display: flex;
}

.portafolio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-portafolio{
    margin-right: 10px !important;
}

.imagen-perfil-div{
    display: flex;
    flex: 1;
    box-sizing: border-box;
    justify-content: center;
}

.imagen-perfil{
    display: flex;
    flex: 1;
    padding: 0 0;
    justify-content: center;
    padding: 10px 0;
}

.img-perfil{
    width: 200px;
    height: 200px;
}

main{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 2em rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px 200px;
    border-radius: 15px;
}

.experiencia-laboral-div{
    flex: 1;
    min-height: 250px;
    max-height: 100px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    align-items: baseline;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main-text {
    font-size: 20px !important;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    align-items: baseline;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 28px !important;
}

.experiencia-laboral-div::-webkit-scrollbar {
    width: 0.5em;
}

.experiencia-laboral-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.experiencia-laboral-div::-webkit-scrollbar-thumb {
    background-color: #001E17;
    outline: 1px solid #212529;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

footer{
    display: flex;
    padding: 10px;
    margin: 10px 190px;
    height: 250px;
}

.footer-div-1{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 2em rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 15px;
}

.footer-text {
    display: flex !important;
    font-size: 20px;
    align-items: center;
    height: 28px;
}

.leng-prog {
    display: flex !important;
    flex: 1 !important;
    flex-direction: row !important;
}

.leng-prog-name {
    display: flex;
    flex: 1;
}

.leng-prog-star {
    display: flex;
    flex: 4;
}

.footer-div-2{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 2em rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 15px;
}

.idioma {
    display: flex !important;
    flex: 2 !important;
    flex-direction: row !important;
}